html {
  box-sizing: border-box;
  background-color: #eee9de;
  color: #333;
  font-weight: normal;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

body {
  margin: 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  padding: 0 0 1em;
  width: 20em;
  display: inline-block;
}

h2 {
  font-weight: bold;
  font-family: Lato, sans-serif;
  padding: 0 0 .4em;
  margin: 0;
}

div {
  max-width: 25em;
    display: inline-block;
}

a {
  font-weight: normal;
  font-family: sans-serif;
  border: 3px solid #333;
  color: #333;
  display: inline-block;
  text-decoration: none;
  padding: .5em .75em;
  background-color: #eee9de;
  border-radius: .3em;
  margin: .3em;
}

a:hover {
  color: #fff;
  background-color: #666;
  border: 3px solid #666;
}
