html {
  box-sizing: border-box;
  background-color: #eee9de;
  color: #333;
  font-weight: normal;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  vertical-align: middle;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 20.5em;
  display: block;
}

h2 {
  font-weight: bold;
  font-family: Lato, sans-serif;
  text-align: left;
}

div {
  max-width: 15em;
  display: inline-block;
}

.btn a {
  font-weight: normal;
  font-family: sans-serif;
  border: 3px solid #333;
  color: #333;
  display: inline-block;
  text-decoration: none;
  padding: .5em .75em;
  background-color: #eee9de;
  border-radius: .3em;
  margin: .3em;
  text-align: center;
}

.btn a:hover {
  color: #fff;
  background-color: #666;
  border: 3px solid #666;
}
